# Environments
venv/
env/
.venv/

# Secrets & Passwords (CRITICAL)
.env
.env.*

# Python Cache (Junk files Python makes to run faster)
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Mac OS junk files
.DS_Store

# Test artifacts
test.db

# Claude
.claude/
convo-summary.md